<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>To_Do App</title>
  </head>
  <body>
    <div class="todos-container">
      <header class=""><h2>My Todos</h2></header>
      <main class="todos-main">
        <div class="todos-display-task">
          <ul>
            <% todos.forEach(function(item) { %> <% if (item.name ||
            item.description) { %> <% if (item.id == id) { %>
            <li>
              <form action="/todo/updatetask/<%= item.id %>" method="post">
                <input
                  type="text"
                  value="<%= item.name %>"
                  name="name"
                  placeholder="Enter name of Task"
                />
                <input
                  type="text"
                  value="<%= item.description %>"
                  name="description"
                  placeholder="Enter task Descrioption"
                />
                <a href="/todo/updatetask/<%= item.id %>" class="cancel">
                  <span>Cancel</span>
                </a>
                <button>Submit</button>
              </form>
            </li>
            <% } %> <% } %> <% }); %>
          </ul>
        </div>
      </main>
    </div>
  </body>
</html>
